body {
    margin: 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background: linear-gradient(90deg, #ffffff 2%, #0765a4 50%, #ffed30 100%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    font-size: 1.5rem;
}

.linkNav {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.2rem;
    color: black;
    margin: 0 auto;
    cursor: pointer;
}

.navUser {
    display: flex;
    justify-content: space-around;
    width: 20rem;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-top: 0rem;
    gap: 1.5rem;
}

.linkGuay{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.btnUser {
    border-radius: 1rem;
    border-style: none;
    width: 5rem;
    cursor: pointer;
    margin: 0 auto;
    padding: .5rem;
    background-color: white;
}